<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row">
    <div class="col-xl-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <i class="fa fa-dashboard"></i>
            Dashboard
        </li>
        <li class="breadcrumb-item active">
          <i class="fa fa-table"></i> Completed Text
        </li>
      </ol>
    </div>
  </div>

    <div class="row">
        <div class="well col-lg-12">
            <div class="card card-default">
                <div class="card-header">
                    <i><b><u>Completed Texts</u></b></i>
                </div>
                <div class="container" style="padding-top: 20px;">
                    <div class="well col-lg-12">
                        <div class="container-content">
                            <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="8">
                                <thead>
                                    <tr>
                                        <th><mfDefaultSorter by="msgSendTime">SMS Sent <i class="fa fa-sort"></i> </mfDefaultSorter></th>
                                        <th>Client ID</th>
                                    <!--    <th>Name</th>  -->
                                        <th>Contact Number</th>
                                     <!--   <th>Discharge Diagnosis</th>  -->
                                        <th><mfDefaultSorter by="responseTime">Response Time <i class="fa fa-sort"></i></mfDefaultSorter></th>
                                        <th>Response</th>
                                     <!--   <th>Response Description</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let patient of mf.data">
                                        <td> {{ patient.msgSendTime | date :'short' }} </td>
                                        <td> {{ patient.patientId }} </td>
                                        <td> {{ patient.firstName }} </td>
                                        <td> {{ patient.patContactNo }} </td>
                                        <td>  </td>
                                        <td> {{ patient.responseTime | date :'short' }} </td>
                                        <td> {{ patient.response }} </td>
                                        <td> {{ patient.responseDesc }} </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4">
                                            <mfBootstrapPaginator></mfBootstrapPaginator>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                            <div class="errorMsg"> {{ msg }} </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
