<div class="resetPassword-page">
	<div class="row">
		<div class="col-lg-4 offset-lg-4">
        	<img src="assets/img/SB-admin.png" width="150px;" class="user-avatar" />
			<h1>R U OK?</h1>
			<div class="successMsg"> {{ successmsg }} </div>
			<form role="form" #f="ngForm" (ngSubmit)="f.form.valid && resetPassword()" *ngIf="show">
				<div class="form-content">
					<div class="form-group">
						<input type="password" class="form-control input-underline input-lg" id="password" name="password" placeholder="Enter new Password" [(ngModel)]="model.password" #password="ngModel" validateEqualTo="cpassword" required>
						<div *ngIf="f.submitted && password.hasError('required')" class="errorMsg">Password is required</div>
					</div>
					<div class="form-group">
						<input type="password" class="form-control input-underline input-lg" id="cpassword" name="cpassword" placeholder="Confirm Password" [(ngModel)]="model.cpassword" #cpassword="ngModel" required>
						<div *ngIf="f.submitted && password.errors?.validateEqual" class="errorMsg">Passwords mismatch</div>
					</div>
					<div class="errorMsg"> {{ msg }} </div>
					
				</div>
				<button type="submit" class="btn rounded-btn"> Reset Password </button>&nbsp;
			</form>
		</div>	
	</div>
</div>
