<div class="forgotPassword-page">
	<div class="row">
		<div class="col-lg-4 offset-lg-4">
        	<img src="assets/img/SB-admin.png" width="150px;" class="user-avatar" />
			<h1>R U OK?</h1>
			<div class="successMsg"> {{ successmsg }} </div>
			<form role="form" #f="ngForm" (ngSubmit)="f.form.valid && forgotPassword()">
				<div class="form-content">
					<div class="form-group">
						<input type="text" class="form-control input-underline input-lg" id="email" name="email" [(ngModel)]="model.email" #email="ngModel" placeholder="Email" pattern="^[a-zA-Z0-9.#$%]+@[a-zA-Z]+[\.][A-Za-z]{2,}$" required>
						<div *ngIf="f.submitted && email.hasError('required')" class="errorMsg">Email is required</div>
                		<div *ngIf="f.submitted && email.hasError('pattern')" class="errorMsg">Invalid Email Address</div>
					</div>
				</div>
				<div class="errorMsg"> {{ msg }} </div>
				
				<button type="submit" class="btn rounded-btn"> Submit </button>&nbsp;
				<a  class="btn rounded-btn" routerLink="/"> Back </a>
			</form>
		</div>	
	</div>
</div>
