<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <i class="fa fa-dashboard"></i>
                      Dashboard
                </li>
                <li class="breadcrumb-item active">
                    <i class="fa fa-user-plus"></i> Add New Client
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="well col-lg-12">
            <div class="card card-default">
                <div class="card-header">
                    <i><b><u>Add New Client</u></b></i>
                </div>
                <div class="alert alert-success" *ngIf="success">
                    <strong>{{successmsg}}</strong>
                </div>
                <div class="alert alert-danger" *ngIf="error">
                    <strong>{{msg}}</strong>
                </div>
                <div class="container" style="padding-top: 20px;">

                  <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && addNewPatient(f)">
                    <div class="well col-md-12">
                      <div class="container-content">

                        <div class="form-horizontal">
                          <div class="form-group">
                            <label class="control-label col-md-3" for="patientId">Client ID</label>
                            <div class="col-md-6">
                              <input type="text" class="form-control" id="patientId" name="patientId" placeholder="Enter Account #" [(ngModel)]="model.patientId" #patientId="ngModel" required>
                            <div *ngIf="f.submitted && patientId.hasError('required')" class="errorMsg">Client ID is required</div>
                            </div>
                          </div>

                          <div class="form-group mobile-input-ss">
                            <label class="control-label col-md-3" for="proContactNo">Your contact number</label>
                            <div class="col-md-1 flleft">
                              <input type="text" class="form-control" value="+1" readonly required>
                            </div>
                            <div class="col-md-5 flleft">
                              <input type="text" class="form-control" value={{CN}} id="proContactNo" name="proContactNo" pattern="^\d+$" required>
                              <div *ngIf="f.submitted && proContactNo.hasError('required')" class="errorMsg">Contact number is required</div>
                              <div *ngIf="f.submitted && proContactNo.hasError('pattern')" class="errorMsg">Only digits are allowed</div>
                            </div>
                          </div>

                          <div class="form-group mobile-input-ss">
                            <label class="control-label col-md-3" for="patContactNo">Client contact number</label>
                            <div class="col-md-1 flleft">
                              <input type="text" class="form-control" value="+1" readonly required>
                            </div>
                            <div class="col-md-5 flleft">
                              <input type="text" class="form-control" id="patContactNo" name="patContactNo" placeholder="Enter Client contact number" [(ngModel)]="model.patContactNo" #patContactNo="ngModel" pattern="^\d+$" required>
                              <div *ngIf="f.submitted && patContactNo.hasError('required')" class="errorMsg">Contact number is required</div>
                              <div *ngIf="f.submitted && patContactNo.hasError('pattern')" class="errorMsg">Only digits are allowed</div>
                            </div>
                          </div>


                          <div class="form-group">
                            <label class="control-label col-md-3" for="followUpTime">Follow up Date and Time</label>
                            <div class="col-md-3 flleft">


                             <ng2-datepicker [options]="options" [(ngModel)]="date" [ngModelOptions]="{standalone: true}"></ng2-datepicker>
                           </div>

                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary" *ngFor="let item of radioItems">
                            <input type="radio" name="options" (click)="model.options = item"
                             [checked]="item === model.options">
                            {{item}}
                          </label>
                        </div>

                        <div class="alert alert-success" role="alert">
                            <b>Message Information</b><br/>
                            Client Account #: <b>{{model.patientId}}</b><br/>
                            My Cell #: <b>{{CN}}</b><br/>
                            Client Cell Nuber #: <b>{{model.patContactNo}}</b><br/>
                            Follow up Date: <b>{{ date ? (getFormattedDate() + date.formatted) : '' }}</b><br/>
                            Time: <b>{{model.options}}</b><br/>
                        </div>


                          </div>

                          <div class="form-group">
                            <label class="control-label col-md-3" for="comments">&nbsp;</label>
                            <div class="col-md-6">
                              <button type="submit" class="btn btn-primary complete">SAVE</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>
